<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Collection</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/collectionlist.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Pokémon Central</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/collectionlist">Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/userinfo">User Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewsets">Cards</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if (user) { %>
          <li class="nav-item">
            <span class="navbar-text mr-2">
              Signed in as : <%= user.first_name %> <%= user.last_name %>
            </span>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary" onclick="logout()">Log Out</button>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="btn btn-primary" href="/login">Log In</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="btn btn-primary ml-2" href="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="header">
        <div class="title">
          <h2><%= titletext %></h2>
          <h4>
            Welcome to your very own collection of Pokémon! Add Pokémon to your
            collection by viewing a cards details and pressing the Add button,
            happy collecting!
          </h4>
        </div>
      </div>

      <div class="row mt-4" id="pokemon-list">
        <% collectionData['data'].forEach( (pokemon, index)=>{ %>
        <div class="col-md-3 card-div">
          <div
            class="card mt-4 pokemon-card"
            data-name="<%= pokemon.name.toLowerCase() %>"
            data-hitpoints="<%= pokemon.hitpoints %>"
            data-illustrator="<%= pokemon.illustrator %>"
          >
            <h5 class="card-title"><%= pokemon.name %></h5>
            <img
              src="<%= pokemon.img %>"
              alt="<%= pokemon.name %>"
              class="card-img-top"
            />
            <div class="card-body">
              <a
                href="/singlecard?item=<%= pokemon.card_id %>"
                class="btn btn-primary view-details-button"
              >
                View details
              </a>
              <button
                class="btn btn-danger remove-from-collection-button"
                data-card-id="<%= pokemon.card_id %>"
              >
                Remove from Collection
              </button>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <script>
      document
        .querySelectorAll(".remove-from-collection-button")
        .forEach((button) => {
          button.addEventListener("click", function () {
            fetch("http://localhost:4000/remove-from-collection", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                user_id: "<%- user && user.id %>",
                card_id: this.dataset.cardId,
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.success) {
                  alert("Card removed from collection successfully");
                  // Optionally, remove the card from the page
                  this.closest(".card-div").remove();
                } else {
                  alert("Failed to remove card from collection");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });
        });

      function logout() {
        fetch("/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              window.location.href = "/viewsets";
            } else {
              alert("Logout failed");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
