<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Collection</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/collectionlist.css" />
  </head>
  <body>
    <%- include('navbar') %>

    <div class="container">
      <div class="header">
        <div class="title">
          <h2><%= titletext %></h2>
          <h4>
            Welcome to your very own collection of Pokémon! Add Pokémon to your
            collection by viewing a cards details and pressing the Add button,
            happy collecting!
          </h4>
        </div>
      </div>

      <div class="row mt-4" id="pokemon-list">
        <% collectionData['data'].forEach( (pokemon, index)=>{ %>
        <div class="col-md-3 card-div">
          <div
            class="card mt-4 pokemon-card"
            data-name="<%= pokemon.name.toLowerCase() %>"
            data-hitpoints="<%= pokemon.hitpoints %>"
            data-illustrator="<%= pokemon.illustrator %>"
          >
            <h5 class="card-title"><%= pokemon.name %></h5>
            <img
              src="<%= pokemon.img %>"
              alt="<%= pokemon.name %>"
              class="card-img-top"
            />
            <div class="card-body">
              <a
                href="/singlecard?item=<%= pokemon.card_id %>"
                class="btn btn-primary view-details-button"
              >
                View details
              </a>
              <button
                class="btn btn-danger remove-from-collection-button"
                data-card-id="<%= pokemon.card_id %>"
              >
                Remove from Collection
              </button>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <!-- display the ratings -->
    <% let totalRating = 0; ratingsData.forEach( (rating) => { totalRating +=
    rating.rating_value; }); let averageRating = (totalRating /
    ratingsData.length).toFixed(2); %>

    <div class="average-score">
      <p>
        Average Collection Score From Other Users: <%= averageRating %> out of
        10
      </p>
    </div>

    <!-- display the comments -->
    <% commentsData.forEach( (comment)=>{ %>
    <div class="comment-box">
      <p>Username: <%= comment.commenter_username %></p>
      <p>Comment: <%= comment.comment_text %></p>
      <button
        class="btn btn-danger remove-comment-button"
        data-comment-id="<%= comment.comment_id %>"
      >
        Remove Comment
      </button>
    </div>
    <% }); %>

    <script>
      // allows a user to remove from their collection
      let user_id = "<%- user && user.id %>";
      document
        .querySelectorAll(".remove-from-collection-button")
        .forEach((button) => {
          button.addEventListener("click", function () {
            fetch(
              `http://localhost:4000/remove-from-collection/${user_id}/${this.dataset.cardId}`,
              {
                method: "DELETE",
                headers: {
                  "Content-Type": "application/json",
                },

                body: JSON.stringify({
                  user_id: "<%- user && user.id %>",
                  card_id: this.dataset.cardId,
                }),
              }
            )
              .then((response) => response.json())
              .then((data) => {
                if (data.success) {
                  alert("Card removed from collection successfully");
                  // Optionally, remove the card from the page
                  this.closest(".card-div").remove();
                } else {
                  alert("Failed to remove card from collection");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });
        });

      // allows a user to remove a comment
      document.querySelectorAll(".remove-comment-button").forEach((button) => {
        button.addEventListener("click", function () {
          fetch(`http://localhost:4000/comments/${this.dataset.commentId}`, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.message === "Comment deleted successfully.") {
                alert("Comment removed successfully");
                // Optionally, remove the comment from the page
                this.closest(".comment-box").remove();
              } else {
                alert("Failed to remove comment");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
      });

      function logout() {
        fetch("/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              window.location.href = "/viewsets";
            } else {
              alert("Logout failed");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
