<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/collectionlist.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Pokémon Central</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/collectionlist">My Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usercollections">User Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/likedcollections">Liked Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/userinfo">User Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewsets">Cards</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if (user) { %>
          <li class="nav-item">
            <span class="navbar-text mr-2">
              Signed in as : <%= user.first_name %> <%= user.last_name %>
            </span>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary" onclick="logout()">Log Out</button>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="btn btn-primary" href="/login">Log In</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="btn btn-primary ml-2" href="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="header">
        <div class="title">
          <h2><%= titletext %></h2>
        </div>
      </div>

      <div class="py-3 mx-auto text-width">
        <p>Email: <%= user.email %></p>
        <p>Username: <%= user.username %></p>
        <p>First Name: <%= user.first_name %></p>
        <p>Last Name: <%= user.last_name %></p>
        <p>Password: <%= user.password %></p>
      </div>
      <div class="d-flex justify-content-around my-3">
        <a href="/edituserinfo" class="btn btn-primary">Edit Information</a>
      </div>
    </div>

    <script>
      function logout() {
        fetch("/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              location.reload();
            } else {
              alert("Logout failed");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
