<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View trading card sets</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/viewsets.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Pokémon Central</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/collectionlist">Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/userinfo">User Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewsets">Cards</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if (user) { %>
          <li class="nav-item">
            <span class="navbar-text mr-2">
              Signed in as : <%= user.first_name %> <%= user.last_name %>
            </span>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary" onclick="logout()">Log Out</button>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="btn btn-primary" href="/login">Log In</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="btn btn-primary ml-2" href="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="header">
        <div class="title">
          <h2><%= titletext %></h2>
        </div>
      </div>

      <div class="row" id="set-list">
        <% setdata['data'].forEach( (set, index)=>{ %>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card">
            <img
              class="card-img-top"
              src="<%= set.logo %>"
              alt="<%= set.name %>"
            />
            <div class="card-body">
              <h5 class="card-title"><%= set.name %></h5>
              <a
                href="/viewcards?set_id=<%= set.set_id %>"
                class="btn btn-primary"
              >
                View cards
              </a>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <script>
      function logout() {
        fetch("/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              location.reload();
            } else {
              alert("Logout failed");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
